.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata

*.xcscheme

*.xcworkspacedata

KVKSocketDemo/KVKSocketDemo.xcodeproj/project.xcworkspace/xcshareddata/
